* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 33%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.btn-blue {
    background-color: rgb(0, 97, 255);
    height: 17px;
    line-height: 17px;
    vertical-align: middle;
    box-sizing: content-box;
    padding: 6px 15px;
}

.size-13 {
    font-size: 13px;
}

.bg-lightblue {
    background-color: rgb(180, 208, 231);
}

.white {
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */

header {
    background-color: white;
    height: 100vh;
}

.main-menu {
    position: relative;
    height: 90px;
    width: 100%;
    display: inline-flex;
}

.col {
    height: 90px;
    line-height: 90px;
}

/* Left Column */

.column-left {
    text-align: left;
}

.main-menu .column-left a, .main-menu .column-left ul, .main-menu .column-left li {
    list-style-type: none;
    display: inline-block;
}

.main-menu .column-left li {
    margin: 0 20px;
}

.main-menu .column-left li:first-child {
    line-height: 25px;
    vertical-align: middle;
}

.main-menu .column-left a {
    color: black;
    text-decoration: none;
}

.main-menu .column-left a:hover {
    text-decoration: underline;
}

/* Right Column */

.column-right {
    text-align: right;
}

.main-menu .column-right a, .main-menu .column-right ul, .main-menu .column-right li {
    list-style-type: none;
    display: inline-block;
}

.main-menu .column-right li {
    margin: 0 20px;
}

.main-menu .column-right a {
    text-decoration: none;
    color: black;
}

.main-menu .column-right .btn-blue {
    color: white;
    text-decoration: none;
}

/* Jumbotron */

.jumbotron {
    position: relative;
    height: 88vh;
    width: 100%;
}

.jumbotron .row {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 250px;
}

.jumbotron .row h1 {
    font-size: 85px;
}

.jumbotron .col-left p {
    margin-bottom: 20px;
}

.col-left {
    position: absolute;
    top: 50%;
    left: 10%;
    height: 350px;
    width: 400px;
}

.col-left span {
    line-height: 80px;
}

.col-left span a {
    color: white;
    text-decoration: none;
}

.col-left span i {
    font-size: 45px;
}

#jumbo {
    position: absolute;
    left: 37%;
    top: 42%;
    height: 550px;
}

.page-2{
    height: 100vh;
    width: 100%;
    margin-top: 150px;
}

.page-2 h2{
    font-size: 40px;
    margin-bottom: 50px;
}

.page-2 span{
    margin-right: 30px;
}