/* *************GENERALS************* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *************UTILS************* */

body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1138px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* WIDTH */

.w-50 {
    width: 50%;
}

.w-33 {
    width: calc(100%/3);
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

/* MARGIN */

.mb-200 {
    margin-bottom: 200px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

/* DISPLAY */

.in-block {
    display: inline-block;
}

.block {
    display: block;
}

/* FLOAT */

.f-left {
    float: left;
}

/* BUTTONS */

.btn-blue {
    background-color: rgb(0, 97, 255);
    box-sizing: content-box;
    font-size: 13px;
    text-align: center;
}

.btn-small {
    height: 17px;
    line-height: 17px;
    padding: 6px 15px;
}

.btn-big {
    padding: 10px 18px;
}

/* FONT + TEXT*/

.size-13 {
    font-size: 13px;
}

.size-26 {
    font-size: 26px;
}

.bold {
    font-weight: 800;
}

.indent {
    text-align: left;
}

/* BACKGROUND COLORS */

.lightblue {
    background-color: rgb(180, 208, 231);
}

.green {
    background-color: rgb(208, 233, 205);
}

.brick {
    background-color: rgb(97, 8, 43)
}

.blue {
    background-color: rgb(0, 97, 255);
}

.light-red {
    background-color: rgb(255, 28, 28);
}

.cream {
    background-color: rgb(245, 245, 245);
}

.darkred {
    background-color: rgb(213, 0, 31);
}

.darkblue {
    background-color: rgb(13, 36, 129);
}

.ocrat {
    background-color: rgb(255, 216, 48);
}

/* COLORS */

.white {
    color: white;
}

.gray {
    color: gray;
}

.st-blue {
    color: rgb(0, 97, 255);
}

/* *************HEADER************* */

.page {
    background-color: white;
    height: 100vh;
}

.main-menu {
    position: relative;
    height: 90px;
    width: 100%;
    display: inline-flex;
}

.col {
    height: 90px;
    line-height: 90px;
}

/* Left Column */

.column-left {
    text-align: left;
}

.main-menu .column-left a, .main-menu .column-left ul, .main-menu .column-left li {
    list-style-type: none;
    display: inline-block;
}

.main-menu .column-left li {
    margin: 0 20px;
}

.main-menu .column-left li:first-child {
    line-height: 25px;
    vertical-align: middle;
}

.main-menu .column-left a {
    color: black;
    text-decoration: none;
}

.main-menu .column-left a:hover {
    text-decoration: underline;
}

/* Right Column */

.column-right {
    text-align: right;
}

.main-menu .column-right a, .main-menu .column-right ul, .main-menu .column-right li {
    list-style-type: none;
    display: inline-block;
}

.main-menu .column-right li {
    margin: 0 20px;
}

.main-menu .column-right a {
    text-decoration: none;
    color: black;
}

.main-menu .column-right a:hover {
    text-decoration: underline;
}

.main-menu .column-right .btn-blue {
    color: white;
    text-decoration: none;
}

/* *************JUMBOTRON************* */

.jumbotron {
    position: relative;
    height: 88vh;
    width: 100%;
}

.jumbotron .row {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 250px;
}

.jumbotron .row h1 {
    font-size: 85px;
}

.jumbotron .col-left p {
    margin-bottom: 20px;
}

.col-left {
    position: absolute;
    top: 50%;
    left: 10%;
    height: 350px;
    width: 400px;
}

.col-left span {
    line-height: 80px;
}

.col-left span a {
    color: white;
    text-decoration: none;
}

.col-left span i {
    font-size: 45px;
}

#jumbo {
    position: absolute;
    left: 37%;
    top: 42%;
    height: 550px;
}

/* *************PAGE 2************* */

.page-2 {
    height: 1500px;
    width: 100%;
    margin-top: 150px;
}

.page-2 h2 {
    font-size: 40px;
    margin-bottom: 60px;
}

.page-2 span {
    margin-right: 30px;
}

.header-col {
    margin-left: 30px;
}

.colunms .colunm {
    float: left;
    height: 1050px;
    padding: 30px;
}

.c123 {
    height: 100%;
    border: 1px solid black;
}

.header-c123 {
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
}

.main-c123 {
    padding: 30px 25px;
}

.article-top .fa-ul .fa-user {
    font-weight: normal;
}

.main-c123 .article-top a {
    text-decoration: none;
    color: rgb(0, 97, 255);
}

.main-c123 .article-top div a:hover {
    text-decoration: underline;
}

.mini-hr {
    width: 70px;
}

.fa-check {
    color: rgb(0, 97, 255);
}

.fa-ul {
    margin: 25px;
}

.row {
    height: 300px;
    padding: 30px;
}

.row123 {
    height: 100%;
    border: 1px solid black;
}

.row123 .header-row123 {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid black;
    text-align: center;
}

.main-row123 {
    height: 250px;
    padding: 30px 25px;
}

.boxes {
    height: 800px;
    width: 100%;
}

.box-sx {
    height: 100%;
}

.box-dx {
    height: 100%;
}

.partner {
    height: 100%;
    width: 100%;
    background-image: url("../img/partner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.page-3 .boxes article {
    margin-top: 25%;
    padding: 70px;
}

.page-3 .boxes article p {
    line-height: 25px;
}

.btn-vuoto {
    height: 15px;
    line-height: 15px;
    box-sizing: content-box;
    padding: 5px 10px;
    border: 1px solid black;
}

/* *************BUSINESS************* */

.page-4 h2 {
    font-size: 40px;
}

.business {
    height: 1100px;
    width: 100%;
}

.business .bus-row {
    height: calc(100% / 2 - 40px);
}

.business .bus-row .bus-col {
    height: 100%;
    width: calc(100% / 3);
}

.business .bus-row .bus-col .bus-img, .business .bus-row .bus-col .bus-img .bus-txt {
    height: 50%;
}

.business .bus-row .bus-col .bus-img {
    background-position: left;
    background-size: auto 250px;
    background-repeat: no-repeat;
}

.business .bus-row .bus-col .bus-img.switch {
    background-image: url("../img/business-feature-switching-tools.png");
}

.business .bus-row .bus-col .bus-img.coordinate {
    background-image: url("../img/business-feature-coordinate-it.png");
}

.business .bus-row .bus-col .bus-img.multi {
    background-image: url("../img/business-feature-multi-device.png");
}

.business .bus-row .bus-col .bus-img.integrations {
    background-image: url("../img/business-feature-integrations-it.png");
}

.business .bus-row .bus-col .bus-img.send-f {
    background-image: url("../img/business-feature-send-files-it.png");
}

.business .bus-row .bus-col .bus-img.security {
    background-image: url("../img/business-feature-security.png");
}

.business .bus-row .bus-col .bus-txt {
    padding-right: 40px;
}

.page-4>a {
    color: rgb(0, 97, 255);
}

/* *************COMPANIES************* */

.companies {
    width: 100%;
    height: calc(100vw / 3);
}

.companies .comp-col {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.companies .comp-col .comp-logo {
    position: relative;
    width: 50%;
    height: 50%;
}

.companies .comp-col>.cream {
    height: 100%;
    width: 100%;
}

.companies .comp-logo .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}